<div class="container" class="text-info" style="text-align: center;"><h1>TOP 6 JUEGOS FAVORITOS DE LOS  ULTIMOS AÑOS</h1></div>
<br>
<br>
<br>
<div class="container">
    <div class="row row-cols-3 g-4">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="https://image.api.playstation.com/vulcan/ap/rnd/202312/0117/315718bce7eed62e3cf3fb02d61b81ff1782d6b6cf850fa4.png">
                <div class="card-body">
                    <h5 class="h5 card-title">The last of us: part 2</h5>
                    <p class="card-text">Este juego cuenta un historia de una chica en un mundo postapocaliptico si quieres mas información oprime el botón</p>
                    <button type="button" class="btn btn-info">Info</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/4xJ8XB3bi888QTLZYdl7Oi0s.png">
                <div class="card-body">
                    <h5 class="h5 card-title">God Of War: Ragnarok</h5>
                    <p class="card-text">La continuación de las aventuras de Kratos y Atreus en el mundo nordico si quieres mas información oprime el botón</p>
                    <button type="button" class="btn btn-info">Info</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card width:18 rem">
                <img class="card-img-top" src="https://image.api.playstation.com/vulcan/ap/rnd/202210/0706/EVWyZD63pahuh95eKloFaJuC.png">
                <div class="card-body">
                    <h5 class="h5 card-title">Resident Evil 4: Remake</h5>
                    <p class="card-text">Leon debe detener una nueva amenza conocida como la plaga en españa si quieres mas información oprime el botón</p>
                    <button type="button" class="btn btn-info">Info</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/1c7b75d8ed9271516546560d219ad0b22ee0a263b4537bd8.png">
                <div class="card-body">
                    <h5 class="h5 card-title">Spiderman 2</h5>
                    <p class="card-text">El heroe spiderman se enfrenta a la amenaza conocida como veno junto a Miles Morales si quieres mas información oprime el botón</p>
                    <button type="button" class="btn btn-info">Info</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="https://image.api.playstation.com/vulcan/ap/rnd/202305/2420/c3daf3037feb797d9e71b81618e3b5ff3ff1f9609db5a4a2.png">
                <div class="card-body">
                    <h5 class="h5 card-title">Alan Wake 2</h5>
                    <p class="card-text">El escrito vuleve del lado oscuro luego de 13 años ¿Qué sucedera?, si quieres mas información oprime el botón</p>
                    <button type="button" class="btn btn-info">Info</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card width:18 rem">
                <img class="card-img-top" src="https://image.api.playstation.com/vulcan/ap/rnd/202211/2222/l8QTN7ThQK3lRBHhB3nX1s7h.png">
                <div class="card-body">
                    <h5 class="h5 card-title">Star Wars: Jedi Survivor</h5>
                    <p class="card-text">Kal Kestis sigue en su aventura  por dominar los misterios de la fuerza y acabar con el imperio si quieres mas información oprime el botón</p>
                    <button type="button" class="btn btn-info">Info</button>
                </div>
            </div>
        </div>
    </div>
</div>


